<div id="header">
    <div id="logo">
        <a href='/index'><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>

    </div>
    <div id="navigation">
					<ul>
						<li>
							<a href= http://localhost:3000>Home</a>
						</li>
						<li>
							<a href="/travel">Travel</a>
						</li>
						<li>
							<a href="/news">News</a>
						</li>
						<li>
				            <a href="/reservations">Reservations</a>
						</li>
						<li>
							<a href= http://localhost:4200/login >Admin</a>
						</li>
						<li>
							<a href="/checkout">Checkout</a>
						</li>
						<li>
			            	<a href="/login">Login</a>
			            </li>

					</ul>
				</div>
        
        </ul>
    </div>
</div>